<div class="{{ params.containerClass }}" data-square="{{ params|json_encode }}">
  {{ hiddenInput('nonce') }}
  {{ hiddenInput('verificationToken') }}

  <div id="sq-card-number"></div>
  <div id="sq-expiration-date"></div>
  <div id="sq-cvv"></div>
  <div id="sq-postal-code"></div>
</div>
